.wrapper {
  // position: fixed;
  // right: 0;
  float: right;
  height: 100vh;
  width: 150px;
  background-color: #555;
  padding: 23px;
  li {
    list-style: none;
    margin-bottom: 12px;
    font-size: 1.1em;
    color: #fff;
  }
}
