body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*
Need to do modular css.  Can't do this with create-react-app unless unbuild.
*/

.active {
  background-color: red;
}

#Layout {
  margin: 10px;
}
