@import url('https://fonts.googleapis.com/css?family=Molengo|Ubuntu');

* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
}

body {
  font-family: 'Molengo', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Ubuntu', sans-serif;
}

a {
  text-decoration: none;
}

#root {
  height: 100%;
}

.pageWrapper {
  padding: 0 20px;
  height: 100%;
  margin-bottom: 45px;
}
