.navbar {
  display:table;
  background-color: #555;
  color: #fff;
  width: 100%;
  li {
    display:table-cell;
    text-align:center;
    height: 60px;
    vertical-align: middle;
    width: 25%;
    &:hover{
      cursor: pointer;
    }
  }
}
