.navbar {
  width:500px;
  display:table;
  background-color: #555;
  color: #fff;
  width: 100%;
  li {
    display:table-cell;
    text-align:center;
    border-left: white 1px solid;
    border-right: white 1px solid;
    height: 60px;
    vertical-align: middle;
    width: 25%;
  }
}
