.navbar {
  display:table;
  background-color: #555;
  color: #fff;
  width: 100%;
  li {
    display:table-cell;
    text-align:center;
    height: 40px;
    vertical-align: middle;
    width: 16.66%;
    border-right: dotted 2px white;
    &:hover{
      cursor: pointer;
      text-decoration: underline;
    }
    // To avoid drawing a line on the last item in nav
    &:nth-child(4n) {
      border-right: none;
    }
    // Calendar should be wider
    &:nth-child(3n) {
      width: 50%;
    }
  }
}
