.sideNav {
  position: fixed;
  // 2 less because of padding
  width: 14.66%;
  background-color: #555;
  padding: 1%;
  /* Sketchy... */
  height: 200vh;
  overflow: hidden;
  margin-top: -100px;
  padding-top: 100px;
  li {
    list-style: none;
    margin-bottom: 12px;
    font-size: 1.1em;
    color: #fff;
  }
  a {
    color: #fff;
  }
  svg {
    margin-left: auto;
    margin-right: auto;
    display: block;
    font-size: 8em;
    width: 80%;
    color: white;
  }
  h1 {
    color: white;
    border-bottom: solid 3px #fff;
    margin-bottom: 39px;
    padding: 22px 0;
    text-align: center;
  }
}
